@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Inconsolata:700');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", Arimo, sans-serif;
}

.brand {
    position: fixed;
    top: 10px;
    left: 20px;
    font-family: "Inconsolata", monospace;
    font-size: 32px;
    background: #363636;
    color: #FFFFFF;
    padding: 10px;
    font-weight: 700;
}

.bold {
    font-weight: 900;
}

main.full-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

main.full-page .search {
    width: calc(100% - 20px);
    padding: 15px 10px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 2.5px;
    background: #FFF;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
main.full-page .content {
    width: 50%;
}
main.full-page .results {
    width: 100%;
    min-height: 250px;
    border: 2px dashed rgba(25, 25, 25, 0.5);
    margin: 2em 0 0 0;
    max-height: 400px;
    overflow: auto;
}
main.full-page .results.active {
    border-color: transparent;
    text-align: center;
}
main.full-page .results .placeholder {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: rgba(25, 25, 25, 0.6);
}

.results .manga {
    height: 200px;
    width: 150px;
    border-radius: 2.5px;
    margin: 25px 2em;
    position: relative;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.results .manga .name {
    position: absolute;
    font-weight: 400;
    letter-spacing: .35px;
    font-size: 14px;
    bottom: 0;
    left: 0;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    color: #FFFFFF;
    padding: 0 0 5px 5px;
    width: calc(100% - 5px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.broad-fixed-card .cosmetic-details .tag {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: .16em;
    background: #3F51B5;
    color: #E1E1E1;
    margin: 2px 4px;
    border-radius: 2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.simple-flex {
    display: flex;
}

.broad-fixed-card {
    position: fixed;
    width: 50%;
    left: 25%;
    border-radius: 2.5px;
    height: 300px;
    top: calc(50% - calc(300px / 2));
    color: #FFFFFF;
    animation: 300ms broad-fixed-card-bg-anime ease-in;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    background: #121212;
    z-index: 200;
}
.broad-fixed-card .title {
    margin: .4em .5em;
    font-size: 32px;
    font-weight: 300;
}
.broad-fixed-card .cosmetic-details {
    text-align: center;
}
.broad-fixed-card .simple-flex {
    height: calc(100% - 80px);
}
.broad-fixed-card .cosmetic-details img {
    max-height: 100%;
    width: auto;
    display: inline-block;
    clear: both;
}
.broad-fixed-card .details {
    font-weight: 400;
    line-height: 1.45;
    font-size: 14px;
    height: 100%;
    overflow: auto;
    width: 100%;
}
.broad-fixed-card .details .buttons {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 40px;
    text-align: right;
    padding-bottom: 10px;
}
.broad-fixed-card .details .buttons button {
    background: #03A9F4;
    padding: .6em 1em;
    font-family: inherit;
    font-weight: 300;
    font-size: 15px;
    border: none;
    border-radius: 2.5px;
    margin: 0 5px;
    color: #E1E1E1;
    cursor: pointer;
}
.broad-fixed-card .details .content {
    height: calc(100% - 50px);
    overflow: auto;
    padding-right: 13px;
}

.backdrop {
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.backdrop.active {
    display: block;
}

@keyframes broad-fixed-card-bg-anime {
    0%{
        background: transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
        background: #121212;
    }
}

/*************************************/

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #363636;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
